h1 {
  font-size: 40px;
  text-align: center;
}

span {
  margin: 0 5px;

}

.title {
  margin-top: 100px;
}

.guesses-left-sec {
  text-align: center;
}

.main-sec {
  margin-top: 30px;
}

.guessed-letters-sec {
  text-align: center;
}

.guessed-letters-contain{
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 30px;
}

.guess-field-contain {
  text-align: center;
}

.guess-contain {
  margin-top: 20px;
  text-align: center;
}
